<a href="https://colab.research.google.com/github/imazfar/Weather-Analysis/blob/main/Weather_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Working on Real Project with Python**
## (A Part of Big Data Analysis)

### **The Weather Dataset**
Here, The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. it records Temperature.
Dew Point Temperature, Relative Humidity, Wind Speed, Visiblity, Pressure and conditions.

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df=pd.read_csv('/content/drive/MyDrive/MY Projects/Weather_Python_Project/Weather_Data.csv')

In [5]:
df.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

In [6]:
df.tail()

             Date/Time  Temp_C  ...  Press_kPa  Weather
8779  12/31/2012 19:00     0.1  ...     100.13     Snow
8780  12/31/2012 20:00     0.2  ...     100.03     Snow
8781  12/31/2012 21:00    -0.5  ...      99.95     Snow
8782  12/31/2012 22:00    -0.2  ...      99.91     Snow
8783  12/31/2012 23:00     0.0  ...      99.89     Snow

[5 rows x 8 columns]

In [7]:
df.shape

(8784, 8)

In [8]:
df.describe()

            Temp_C  Dew Point Temp_C  ...  Visibility_km    Press_kPa
count  8784.000000       8784.000000  ...    8784.000000  8784.000000
mean      8.798144          2.555294  ...      27.664447   101.051623
std      11.687883         10.883072  ...      12.622688     0.844005
min     -23.300000        -28.500000  ...       0.200000    97.520000
25%       0.100000         -5.900000  ...      24.100000   100.560000
50%       9.300000          3.300000  ...      25.000000   101.070000
75%      18.800000         11.800000  ...      25.000000   101.590000
max      33.000000         24.400000  ...      48.300000   103.650000

[8 rows x 6 columns]

In [10]:
df

             Date/Time  Temp_C  ...  Press_kPa               Weather
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]